*{
    margin: 0;
    padding: 0;
}
main{
    display: grid;
    grid-template-areas: 'first-card second-card third-card';
    width: 50%;
    margin: auto;
    height: 100vh;
    align-items: center;
    justify-items: center;
}

/**  First Card Begins **/
.first-card{
    background-color: hsl(31, 77%, 52%);
    color:hsla(0, 0%, 100%, 0.75);
    grid-area:'first-card';
    border-top-left-radius:5px ;
    border-bottom-left-radius:5px ;

}
.first-card img{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}
.first-card h3{
    color:  hsl(0, 0%, 95%);
    padding-bottom: 30px;
    padding-top: 30;
    padding-left: 30px;
    font-family: 'Big Shoulders Display';
}
.first-card .text{
    color:  hsl(0, 0%, 95%);
    padding-bottom: 30px;
    padding-top: 30;
    padding-left: 30px;
    font-weight: 400;
}
.first-card .btn{
    padding-bottom: 30px;
    padding-top: 30;
    padding-left: 30px;
}
.first-card button{
    background-color:  hsl(0, 0%, 95%);
    color:hsl(31, 77%, 52%);
    border-radius: 20px;
    padding: 10px 20px;
    border-style: none;
}
/** First Card Ends **/
/**  Second Card Begins **/
.second-card{
    background-color: hsl(184, 100%, 22%);
    color:hsla(0, 0%, 100%, 0.75);
    grid-area:'second-card';
   
}
.second-card img{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}
.second-card h3{
    color:  hsl(0, 0%, 95%);
    padding-bottom: 30px;
    padding-top: 30;
    padding-left: 30px;
    font-weight: 400;
    font-family: 'Big Shoulders Display';
}
.second-card .text{
    color:  hsl(0, 0%, 95%);
    padding-bottom: 30px;
    padding-top: 30;
    padding-left: 30px;
    font-weight: 400;
}
.second-card .btn{
    padding-bottom: 30px;
    padding-top: 30;
    padding-left: 30px;
}
.second-card button{
    background-color:  hsl(0, 0%, 95%);
    color:hsl(184, 100%, 22%);
    border-radius: 20px;
    padding: 10px 20px;
    border-style: none;
}
/** Second Card Ends **/
/** Third Card Begins **/
.third-card{
    background-color:  hsl(179, 100%, 13%);
    color:hsla(0, 0%, 100%, 0.75);
    grid-area:'third-card';
    border-top-right-radius:5px ;
    border-bottom-right-radius:5px ;
}
.third-card img{
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
}
.third-card h3{
    color:  hsl(0, 0%, 95%);
    padding-bottom: 30px;
    padding-top: 30;
    padding-left: 30px;
    font-weight: 400;
    font-family: 'Big Shoulders Display';
}
.third-card .text{
    color:  hsl(0, 0%, 95%);
    padding-bottom: 30px;
    padding-top: 30;
    padding-left: 30px;
    font-weight: 400;
}
.third-card .btn{
    padding-bottom: 30px;
    padding-top: 30;
    padding-left: 30px;
}
.third-card button{
    background-color:  hsl(0, 0%, 95%);
    color:hsl(179, 100%, 13%);
    border-radius: 20px;
    padding: 10px 20px;
    border-style: none;
}
/** Third Card Ends **/


